@*@model IEnumerable<hella.Models.ContainerModel>*@

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div id="demo"></div>
<div id="demot"></div>



@*@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item.Datas[0].ToString())
    @Html.DisplayFor(modelItem => item.Counts)
}*@

<script>


    $(document).ready(function () {

        // set everything in a timer
        setInterval(getCounts, 5000);

    });

    function getCounts() {
        $.get("getcounts", function (data) {

            // deserialize json into obj
            var cameraData = JSON.parse(data);
            document.getElementById("demot").innerHTML = "class:" + cameraData[0].class + "in: " + cameraData[0].in + "out: " + cameraData[0].out;



            
        });
    }
</script>

@*// deserialize json into js
// put into objects?
// pass through to page
// get async*@ 
