@*@model IEnumerable<hella.Models.ContainerModel>*@

@{
    ViewBag.Title = "People Counting";
}


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Class</th>
                <th>In Count</th>
                <th>Out Count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="Class0"></td>
                <td id="InZero"></td>
                <td id="OutZero"></td>
            </tr>
            <tr>
                <td id="Class1"></td>
                <td id="InOne"></td>
                <td id="OutOne"></td>
            </tr>
        </tbody>
    </table>
</div>


<script>


    $(document).ready(function () {

        // set everything in a timer
        setInterval(getCounts, 1000);

    });

    function getCounts() {
        $.get("getcounts", function (data) {

            // deserialize json into obj
            var cameraData = JSON.parse(data);
            document.getElementById("Class0").innerHTML = cameraData[0].class;
            document.getElementById("InZero").innerHTML = cameraData[0].in;
            document.getElementById("OutZero").innerHTML = cameraData[0].out;
            document.getElementById("Class1").innerHTML = cameraData[1].class;
            document.getElementById("InOne").innerHTML = cameraData[1].in;
            document.getElementById("OutOne").innerHTML = cameraData[1].out;

        });
    }
</script>

@*
// get async*@ 
