@*@model IEnumerable<hella.Models.ContainerModel>*@

@{
    ViewBag.Title = "My ASP.NET Application";
}


<h1 class="text-center center-block">People Counting</h1>

<div class="grid2x2">
    <div class="box box1">
        <div class="" style="background-color:indianred; ">
            @*<img src="~/Images/gender.png" style="max-height: 50%;">*@
            <p id="InZero" style="color: black" class="h1 glyphicon-bold"></p>
        </div>
    </div>
    <div class="box box2">
        <div class="" style="background-color:green;  ">
            @*<img src="~/Images/gender.png" style="max-height: 50%;">*@
            <p id="OutZero" style="color: black" class="h1 glyphicon-bold">
            </p>
        </div>
    </div>
    <div class="box box3">
        <div class="c" style="background-color:green;  ">
            @*<img src="~/Images/gender.png" style="max-height: 50%;">*@
            <p id="InOne" style="color: black" class="h1 glyphicon-bold">
            </p>
        </div>
    </div>
    <div class="box box4">
        <div class="" style="background-color:green;  ">
            @*<img src="~/Images/gender.png" style="max-height: 50%;">*@
            <p id="OutOne" style="color: black" class="h1 glyphicon-bold">
            </p>
        </div>
    </div>
</div>








@*<div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>Current Room Count</h1>
            <h1 id="currentRoomCount" class="text-center" ></h1>
        </div>
    </div>*@




<script>

    $(document).ready(function () {

        // set everything in a timer
        setInterval(getCounts, 1000);
    });

    function getCounts() {
        $.get("getcounts", function (data) { // ADD /Home TO "getcounts" THIS WHEN DEPLOYING

            // deserialize json into obj
            var cameraData = JSON.parse(data);
            //document.getElementById("Class0").innerHTML = cameraData[0].class;
            document.getElementById("InZero").innerHTML = "In: " + cameraData[0].in + " Adults";
            document.getElementById("OutZero").innerHTML = "In: " + cameraData[0].out + " Adults";
            //document.getElementById("Class1").innerHTML = cameraData[1].class;
            document.getElementById("InOne").innerHTML = "Out: " + cameraData[1].in + " Children";
            document.getElementById("OutOne").innerHTML = "Out: " + cameraData[1].out + " Children";
            document.getElementById("currentRoomCount").innerHTML = (parseInt(cameraData[0].in) + parseInt(cameraData[1].in)) - (parseInt(cameraData[0].out) + parseInt(cameraData[1].out));

        });
    }
</script>

@*
    // get async
    // background-color:#33A5FF;
*@